@import "../constants/mixin.scss";
@import "../constants/variables.scss";
//HeaderCSS
@import "../Dashboard/partialCSS/header";
//SidebarCSS
@import "../Dashboard/partialCSS/sidebar";
//ContentCSS
@import "../Dashboard/partialCSS/content";

// Chia nhỏ file css ra bằng sass
// Tạo foler để chứa các file css nhỏ -> partialCSS -> tạo tiếp file scss với cú pháp "_tên.scss" -> dùng @import để gọi file scss vào file style.scss
html {
    font-size: 62.5%;
}

body {
    font-family: "Epilogue", sans-serif;
}

.dashboard {
    @include size(100%, 100%);
    background-color: $white-color;
    padding: 40px;

    &_body {
        @include size(100%, 2000px);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 40px;
    }
}

