@import "../constants/variables.scss";
@import "../constants/mixin.scss";

html {
    font-size: 62.5%;
}

body {
    font-family: "Epilogue", sans-serif;
}

.container {
    @include size(100vw, 100vh);
    @include flex(row, center, center);
}

.signin {
    @include size(556px, 744px);
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 50px 60px 50px 60px;
    &_header {
        width: 100%;
        @include flex(column, center, center);
        &-title {
            color: $text-color;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 20px;
        }
        &-subTitle {
            color: $text-color;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 20px;
        }
        &-google {
            @include size(100%, 52px);
            @include flex(row, center, center);
            gap: 10px;
            margin-bottom: 20px;
            border: 1px solid rgba(0, 0, 0, 0.224);
            border-radius: 10px;
        }
        &-email {
            font-size: 14px;
            color: $text-color2;
            margin-bottom: 20px;
        }
    }
    &_body {
        width: 100%;
        @include flex(column, center, end);
        &-email,
        &-password {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 20px;
            position: relative;
        }
        &-btn {
            @include size(100%, 52px);
            background-color: $primary-color;
            border-radius: 10px;
            margin-top: 20px;
            color: white;
            font-weight: 500;
            &:hover {
                background-color: $primary-color;
                opacity: 0.9;
            }
        }
    }
    &_input {
        @include size(100%, 52px);
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.271);
        padding: 8px 12px;
    }
    &_label {
        margin-bottom: 10px;
    }
    &_term {
        @include flex(row, start, start);
        gap: 5px;
        width: 100%;
        color: $text-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        cursor: pointer;
    }
    &_checkbox {
        display: none;
        &:checked + .signin_checkbox-text::after {
            opacity: 1;
            visibility: visible;
        }
        &-text {
            padding-left: 28px;
            display: block;
            width: 100%;
            position: relative;
            &::before {
                content: "";
                @include size(20px, 20px);
                border: 2px solid $text-color2;
                position: absolute;
                border-radius: 3px;
                top: 0;
                left: 0;
            }
            &::after {
                content: "";
                @include size(10px, 15px);
                left: 0;
                top: 0;
                position: absolute;
                transform: translate(5px, 0) rotate(45deg) scale(0.9);
                border-bottom: 3px solid $text-color;
                border-right: 3px solid $text-color;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.fa-eye-slash {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -18px);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.478);
}

u {
    color: $primary-color;
}
