html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    padding-top: 20rem;
}

.fade-loading {
    margin: 0 auto;
    height: 5rem;
    width: 5rem;
    background-color: #0038ff;
    border-radius: 50%;
    position: relative;
    // transform: scale(1.5);
    // opacity: 0;
    &::after {
        content: "";
        width: 5rem;
        height: 5rem;
        background-color: #0037ff;
        position: absolute;
        border-radius: 50%;
        animation: fade 1.5s forwards linear infinite;
    }
}

@keyframes fade {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.double-loading {
    margin-top: 20rem;
    text-align: center;
    // transform: rotate(180deg);
    // transform: rotate(160deg);
    // transform: rotate(200deg);
    animation: spin 0.75s infinite;
    &-item {
        width: 3rem;
        height: 3rem;
        border: 3px solid violet;
        border-radius: 100%;
        display: inline-block;
        &:last-child {
            border-color: red;
        }
    }
}

@keyframes spin {
    // 0% {
    //     transform: rotate(0deg);
    // }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(160deg);
    }
    100% {
        transform: rotate(200deg);
    }
}
