.sidebar {
    width: 76px;
    height: 733px;
    // border: 1px solid black;
    grid-column: span 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    padding: 40px 14px 40px 14px;
    display: grid;
}

.topSidebar {
    width: 100%;
    @include flex(column, start, center);
    &_list {
        width: 100%;
        @include flex(column, start, center);
        &-item {
            @include size(44px, 44px);
            @include flex(row, center, center);
            margin-bottom: 30px;
            :hover {
                border-radius: 10px;
                opacity: 0.8;
            }
        }
    }
}

.bottomSidebar {
    width: 100%;
    margin-top: auto;
    @include flex(row, center, end);
}
