.header {
    @include size(100%, 52px);
    margin-bottom: 30px;
    display: grid;
    // Sử dụng display grid để tạo layout cho header
    // Cần nhớ thuộc tính: grid-template-columns khi sử dụng display: grid
    // display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    &_left {
        height: 52px;
        width: 52px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        // grid-culumn: span 1; sử dụng để quy định số cột mà 1 phần tử chiếm
        grid-column: span 1;
        &-logo {
            @include size(100%, 100%);
            object-fit: cover;
        }
        &-menu {
            display: none;
        }
    }
    &_middle {
        height: 52px;
        grid-column: span 6;
    }

    &_right {
        @include flex(row, end, center);
        gap: 20px;
        grid-column: span 5;
        &-button {
            @include size(191px, 52px);
            border-radius: 10px;
            background-color: $secondary-color;
            color: $white-color;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }
}
.search {
    @include size(458px, 100%);
    margin-left: 50px;
    position: relative;
    &_input {
        @include size(100%, 100%);
        background: white;
        border-radius: 30px;
        outline: none;
        border: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 8px 10px 8px 20px;
    }
    &_btn {
        @include size(82px, 40px);
        border-radius: 20px;
        background: $primary-color;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-8px, -50%);
        color: $white-color;
        &:hover {
            opacity: 0.9;
        }
    }
}

.dropdown {
    height: 100%;
    &-select {
        color: $text-color2;
        border: none;
    }
    &-icon {
        color: $text-color2;
    }
}

.avatar {
    @include size(52px, 52px);
    &-image {
        @include size(100%, 100%);
        object-fit: cover;
        border-radius: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

//Responsive cho header
// Có 3 kích cỡ màn hình phổ biến sm(small): 576px - 767px, md(medium): 768px - 991px, lg(large): 992px - trở lên
// Trong dự án này chỉ sử dụng lg và md

//max-width: nhỏ hơn hoặc bằng
//min-width: lớn hơn hoặc bằng

// Responive cho khoảng từ 991px trở xuống
@media screen and (max-width: 991px) {
    // Ẩn dropdown và button khi màn hình nhỏ hơn 991px
    .dropdown {
        display: none;
    }
    //Thay đổi kích thước cho search khi màn hình nhỏ hơn 991px
    .search {
        @include size(217px, 40px);
        margin-left: 0px;
        &_input {
            font-size: 12px;
        }
        &_btn {
            @include size(42px, 28px);
        }
    }
    .avatar {
        @include size(40px, 40px);
    }
    .header {
        &_left {
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            &-logo {
                display: none;
            }
            &-menu {
                display: block;
            }
        }
        &_middle {
            grid-column: span 10;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            margin-right: 10px;
        }
        &_right {
            grid-column: span 1;
            display: flex;
            justify-content: end;
            align-items: center;
            &-button {
                display: none;
            }
        }
    }
}
